# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/
env/

# Logs and databases
*.log
*.sqlite3

# Pytest cache
.pytest_cache/

# Editor directories and files
.vscode/
.idea/

# macOS
.DS_Store

.devcontainer/.env
